*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-image: url(../img/chili.JPG);
}

div#upBande{
    height: 2vh;
    background-size: 2vh;
    background-image: url(../img/losangeBande.png);
}

div#downBande{
    height: 2vh;
    background-size: 2vh;
    background-image: url(../img/losangeBande.png);
}

div#containerBox{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    background-color: indianred;
}

header{
    display: flex;
    height: 25vh;
    background-color: orange;
    flex-direction: row;
    background: url("../img/croustillasTortillas.jpg") center;
}

div.headerLogo{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    margin-left: 8vh;
    justify-content: center;

    background-color: transparent;
}

a.buttonLogo{
    display: flex;
    width: 18vh;
    height: 18vh;
    margin-left: 0vh;
}

img.Logo{
    display: flex;
    width: 18vh;
    height: 18vh;
    margin-left: 0vh;
}

div.headerLoginOkBox{

}

div.loginOkBox{
    display: flex;
    z-index: 2;
    align-self: end;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 8vh;
    height: 8vh;
    margin-left: 0vh;
    border-bottom-left-radius: 0.4vh;
    border-bottom-right-radius: 0vh;
    background-color: darkolivegreen;
}

a.cartImg{
    display: flex;
    width: 6vh;
    height: 6vh;
}

a.cartImg:hover{
    display: flex;
    width: 6vh;
    height: 6vh;
}

a.askProfile{
    display: flex;
    width: 6.5vh;
    height: 6.5vh;
}

a.askProfile:hover{
    display: flex;
    width: 6.5vh;
    height: 6.5vh;
}

a.askLogin{
    display: flex;
    width: 6.5vh;
    height: 6.5vh;
}

a.askLogin:hover{
    display: flex;
    width: 6.5vh;
    height: 6.5vh;
}

div#buttonBox{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    background-color: darkblue;
}

a.buttona{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.5vh;
    font-weight: bold;
    background-color: darkblue;
    width: 15vh;
    height: 6vh;
}

a.buttona:hover{
    color: orange;
    transition-duration: 0.6s;
}

img.Losange{
    width: 1vh;
    height: 1vh;
}





footer{
    /*min-width: 28vh;*/
    /*max-width: 46vh;*/
    height: 18vh;
    background-color: #FCCC00;
    text-align: center;
}

div#copyright{
    font-size: 1.6vh;
    background-color: #FCCC00;
    padding-bottom: 2vh;
    text-align: center;
    align-items: end;
}

div#resBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3vh;
}

a.réseaux{
    width: 5vh;
    height: 5vh;
}

img.imgRés{
    width: 5vh;
    height: 5vh;
}