div#MainBox{
    width: 160vh;
    height: 80vh;
    background-color: #FCCC00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.confirmLalitoPurchaseBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    width: 65vh;
    height: 30vh;
    background-color: darkolivegreen;
}

form#confirmForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.confirmLalitoPurchaseText{
    display: flex;
    margin-top: 2vh;
    margin-right: 2vh;
    margin-left: 2vh;
    font-size: 2.4vh;
    color: white;
    font-weight: bold;
    text-align: center;
}

input#username{
    width: 26vh;
    height: 3vh;
    margin-top: 3vh;
    color: orange;
}

input#password{
    width: 26vh;
    height: 3vh;
    margin-top: 0.5vh;
    color: orange;
}

button#confirmLalitoPurchase{
    margin-top: 3vh;
    background-color: #A2001A;
    border: solid 0vh #A2001A;
    color: white;
    font-weight: bold;
    font-size: 2.4vh;
    width: 24vh;
    height: 6vh;
}

button#confirmLalitoPurchase:hover{
    color: orange;
    transition-duration: 0.6s;
}

div.addSuccessBox{
    display: flex;
    width: 65vh;
    height: 30vh;
    margin-top: -30vh;
    align-items: center;
    flex-direction: column;
    background-color: darkolivegreen;
}

p.addSuccessText{
    color: white;
    margin-top: 5vh;
    margin-right: 5vh;
    margin-left: 5vh;
    font-weight: bold;
    text-align: center;
    font-size: 2.4vh;
}

a.viewCartButton{
    display: flex;
    margin-top: 5vh;
    font-size: 2.4vh;
    width: 28vh;
    height: 6vh;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #A2001A;
}

a.viewCartButton:hover{
    color: orange;
    transition-duration: 0.6s;
}