div#MainBox{
    width: 160vh;
    height: 60vh;
    background-color: #FCCC00;
    display: flex;
    flex-direction: column;
    align-items: center;
}


form.loginBox{
    display: flex;
    width: 60vh;
    height: 30vh;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkolivegreen;
    border: solid 0.3vh blue;
}

div.errorDivLogin{
    margin-top: 5vh;
    font-size: 2.4vh;
    color: orange;
}

input#usernameemail{
    width: 26vh;
    height: 3vh;
    margin-top: 4vh;
    color: orange;
    /*border-color: green;
    background-color: green;*/
}

input#password{
    width: 26vh;
    height: 3vh;
    margin-top: 0.5vh;
    color: orange;
}

button#subLogButton{
    margin-top: 3vh;
    background-color: #A2001A;
    border: solid 0vh #A2001A;
    color: white;
    font-weight: bold;
    font-size: 2.4vh;
    width: 24vh;
    height: 6vh;
}

button#subLogButton:hover{
    transition-duration: 0.6s;
    color: orange;
}

a.registerButton{
    display: flex;
    color: orange;
    font-size: 2.2vh;
    margin-left: 78%;
    margin-top: 5vh;
}